Node-RED flows/flows.json
[
    {
        "id": "a5558c76c1f262d6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a51dda99bc8a6a83",
        "type": "ui_button",
        "z": "a5558c76c1f262d6",
        "name": "",
        "group": "7425f2b9915a9185",
        "order": 3,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Forward",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "6b72ae3a5b4a1054",
                "9ba968951018d73c"
            ]
        ]
    },
    {
        "id": "1e7af67882d18e8a",
        "type": "ui_button",
        "z": "a5558c76c1f262d6",
        "name": "",
        "group": "7425f2b9915a9185",
        "order": 8,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "6b72ae3a5b4a1054",
                "9ba968951018d73c"
            ]
        ]
    },
    {
        "id": "6b72ae3a5b4a1054",
        "type": "ui_text",
        "z": "a5558c76c1f262d6",
        "group": "7425f2b9915a9185",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "9ba968951018d73c",
        "type": "mqtt out",
        "z": "a5558c76c1f262d6",
        "name": "",
        "topic": "ControGG",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4aa477e5e2e78170",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "e071b6841bb1d459",
        "type": "mqtt in",
        "z": "a5558c76c1f262d6",
        "name": "",
        "topic": "Stamina",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4aa477e5e2e78170",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7b2c58c88de9be16",
        "type": "ui_button",
        "z": "a5558c76c1f262d6",
        "name": "",
        "group": "7425f2b9915a9185",
        "order": 13,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Eat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Eat",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "9ba968951018d73c",
                "6b72ae3a5b4a1054"
            ]
        ]
    },
    {
        "id": "8ce981d4f591fa51",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4b335f92ea344c73",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a017877a1e890b45",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "0fbb3ad0bdb0e939",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "b2b1fc15866408de",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "62e52fd82fb436de",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "4dcc754008730fc0",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "96987a0eefca28fb",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "d81b5479159061d3",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "527db2f61d2425c4",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "bdebab1c7ec0c7f1",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "aac187f5c541e622",
        "type": "ui_spacer",
        "z": "a5558c76c1f262d6",
        "name": "spacer",
        "group": "7425f2b9915a9185",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "7425f2b9915a9185",
        "type": "ui_group",
        "name": "Contro",
        "tab": "154a99f4b21f2ce4",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4aa477e5e2e78170",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "mqttx_24c0e453",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "154a99f4b21f2ce4",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]